div{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 50px;
}

.w700{
    font-weight: 700;
}
.w600{
    font-weight: 600;
}
.w500{
    font-weight: 500;
}
.w400{
    font-weight: 400;
}
.w300{
    font-weight: 300;
}
.w200{
    font-weight: 200;
}