body{
    background-color: #022B3A;
    margin: 0;
    font-family: roboto, sans-serif;
}

nav, #nav-container{
    background-color: #1F7A8C;
}
nav{   
    padding: 25px;
}

nav > #brand{   
    text-decoration: none;
    font-size: 50px;
    color: #BFDBF7;
    display: block;
    text-align: center;    
}

#nav-container{
    margin: 0px 0px 10px 0px;
    border-bottom: 5px solid #E1E5F2;
}


#nav-container > #nav-title{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #E1E5F2;
}

#nav-container > ul{   
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

#nav-container > ul > li{
    font-size: 20px;
    margin: 0;  
    display: inline-block;
}

li > a{
    font-size: 20px;
    margin: 0;  
    padding: 5px 100px;
    display: inline-block;
    border-radius: 10px;
    background-color: #022B3A;
    text-decoration: none;
    color: #B5C2B7;
}

li> a:hover{
    background-color: #BFDBF7;
    color: #000;

}


#body{
    height: 300px;
    margin: 30px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #BFDBF7;
}

#body > p{
    font-size: 20px;
}

em{
    font-weight: 700;
}

blockquote{
    font-size: 25px;
    color: #1F7A8C;
}

.row div{
    margin: 25px 10px;
    text-align: center;
    background-color: #1F7A8C;
    border-radius: 10px;
}
 
.row div:not(.full-col){
    display: inline-block;
    height: 300px;
    padding: 5px 250px;
}

.full-col{
    height: 100px;
    padding: 25px;
    border: 1px solid #000;
}





