.btn-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background: #ac0246;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
}

.btn-clear:hover{
    background: #ebb000;
}